<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DEV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PROD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>STAGING.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12D45F6C2D556507008D7AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12D45F7D2D556509008D7AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12D45F872D556509008D7AE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8EA1D222E03639F0025706C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
